body{
    animation: 20000ms ease-in-out infinite color-change;
    font-family: 'Cabin', sans-serif;
}
  
@keyframes color-change{
    0% {background-color: rgba(0, 128, 128, 0.7);}
    20% {background-color: rgba(255, 217, 0, 0.7);}
    40% {background-color: rgba(205, 92, 92, 0.7);}
    60% {background-color: rgba(238, 130, 238, 0.7);}
    80% {background-color: rgba(0, 128, 0, 0.7);}
    100% {background-color: rgba(0, 128, 128, 0.7);}  
}

.dabba{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topbar{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 100;
}

.khulta{
    border: 0px !important;
    outline: none !important;
    transform: rotate(360deg);
    transition: transform 0.5s;
}
.khulta:active{
    transform: rotate(180deg);
    transition:  0s;
}

.badges{
    margin-top: 100px;
}

.imager{
    border-radius: 5px;
    background-color: #fff;
}

img{
    width: 75%;
    height: auto;
}

.heroin{
    background-color: rgba(255, 255, 255, 0);
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    backdrop-filter: saturate(0%) blur(5px);
    /*backdrop-filter: saturate(180%) blur(5px);*/
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}
  
  .sidenav a:hover {
    color: #f1f1f1;
}
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.tabcontent{
    display: none;
}

.LI-simple-link, .ktra{
    color: black;
    text-decoration: none !important;
    font-weight: 600;
}
.LI-simple-link:hover, .ktra{
    color: black !important;
}

.newbtn{
    font-size: 60px;
    border: 2px grey;
    border-style: dashed;
    border-radius: 10px;
    outline: none !important;
    opacity: 0.8;
}